.red{
  color:red;
}
.bold{
  font-weight: 900;
}
.Cockpit button{
  background-color:green;
  color:white;
  padding:8px;
  font:inherit;
  border:1px solid black;
  cursor:pointer;
  outline:none;
}
.Cockpit button:hover{
  background-color: lightgreen;
  color:black;
}
.Cockpit button.Red{
  background-color: #640011;
}
.Cockpit button.Red:hover{
  background-color: #f00c32;
}